
body {
    font-family: sans-serif;
    background-color: #ffffff;
  }

  form{
    width: 100%;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  h1 {
    text-align: center;
  }
  
  input {
    width: 90%;
    padding: 15px;
    border: 1px solid #a18585;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
  }
  